Normal encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.DataFrame({
  'color' :['red','blue','green','green','red','blue']
})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [10]:
encoder = OneHotEncoder()
#instance

In [11]:
encoded_array = encoder.fit_transform(df[['color']]).toarray()

In [13]:
print(encoded_array)

[[0. 0. 1.]
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]]

In [15]:
encoder_df = pd.DataFrame(encoded_array,columns=encoder.get_feature_names_out())

In [17]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [20]:
encoder.transform([['blue']]).toarray()

C:\Users\itlas\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [22]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

LAbel Encoding

In [23]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [24]:
lb.fit_transform(df[['color']])

C:\Users\itlas\AppData\Roaming\Python\Python313\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

Ordinal Encoding

In [25]:
from sklearn.preprocessing import OrdinalEncoder

In [26]:
df = pd.DataFrame({
  'size' : ['samll','medium','large','samll','medium','large']
})

In [27]:
df.head()

     size
0   samll
1  medium
2   large
3   samll
4  medium

In [28]:
encoder = OrdinalEncoder(categories=[['samll','medium','large']])

In [29]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.]])

Target Guided ordinal Encoding

In [33]:
import pandas as pd 
df = pd.DataFrame({
  'city' :['podili','darsi','nuzvid','podili','darsi','nuzvid'],
  'price':['100','200','300','400','500','300']
})

In [34]:
df.head()

     city price
0  podili   100
1   darsi   200
2  nuzvid   300
3  podili   400
4   darsi   500

In [44]:
df['price'] = pd.to_numeric(df['price'])
mean_price=df.groupby('city')['price'].mean().to_dict()

In [45]:
mean_price

{'darsi': 350.0, 'nuzvid': 300.0, 'podili': 250.0}

In [46]:
df['city_encoded'] = df['city'].map(mean_price)

In [47]:
df

     city  price  city_encoded
0  podili    100         250.0
1   darsi    200         350.0
2  nuzvid    300         300.0
3  podili    400         250.0
4   darsi    500         350.0
5  nuzvid    300         300.0

In [48]:
df[['price','city_encoded']]

   price  city_encoded
0    100         250.0
1    200         350.0
2    300         300.0
3    400         250.0
4    500         350.0
5    300         300.0